@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

nav.navBar ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-items: start;
  gap: 1rem;
  color: #202123;
}

nav.navBar ul li {
  border-left: 3px solid var(--color-gray);
}

nav.navBar ul li span {
  margin-left: 2rem;
}

nav.navBar ul li:hover {
  border-left: 3px solid #32d5eb;
}

.navBar a:hover {
  color:var(--color-gray);
}

.navBar li a[aria-current="page"] {
  border-left: 3px solid #32d5eb;
  padding: 0.4rem;
}


